<%= form_with model: service, class: "" do |form| %>
  <% if service.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class: "" %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div>
  <h2>fields for  levels</h2>
    <%= form.fields_for  :level do |level_form| %>
     <div>
      <%= level_form.label :name %>
     <%= level_form.text_field :name, class: "" %>
     </div>

    <div>
    <%=level_form.label :price %>
    <%= level_form.text_field :price %>
    </div>
    <% end %>
  </div>
  <div>
  <h2>fields for  extras</h2>
    <%= form.fields_for  :extra do |extra_form| %>
     <div>
    <%= extra_form.label :name %>
    <%= extra_form.text_field :name, class: "" %>
     </div>
     <div>
    <%= extra_form.label :description %>
    <%= extra_form.text_field :description, class: "" %>
     </div>

    <div>
    <%=extra_form.label :price %>
    <%= extra_form.text_field :price %>
    </div>
    <% end %>
  </div>

  <div>
  <h2>fields for  urgencies</h2>
    <%= form.fields_for  :urgency do |urgency_form| %>
     <div>
    <%= urgency_form.label :duration %>
    <%= urgency_form.number_field :duration, class: "" %>
     </div>
     <div>
    <%= urgency_form.label :price %>
    <%= urgency_form.text_field :price, class: "" %>
     </div>

    <% end %>
  </div>





  <div>
    <%= form.submit %>
  </div>
<% end %>
